.password-reset-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1000px;
    margin: auto;

}

.password-reset-page img {
    width: 100%;
}

.password-reset {
    padding: 20px;
}

.password-reset h1 {
    margin-bottom: 15px;
}

.password-reset .error {
    color: #ba0505;
    margin-bottom: 10px;
}

.password-reset input[type=email] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.password-reset input[type=submit] {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .password-reset-page {
        grid-template-columns: 1fr;
    }
}