.product-card {
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 2px 2px 8px rgb(234, 234, 234);
}

.product-card img {
    width: 100%;
}

.product-card h3 {
    margin: 15px 0;
}

.product-card p {
    margin-bottom: 10px;
}

.product-card button {
    margin-top: 10px;
}