header {
    background-color: blueviolet;
}

.nav-bar {
    max-width: 1240px;
    margin: 0 auto;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-brand img {
    width: 50px;
}

.nav-bar .nav-items a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

.nav-bar .menu-icon {
    font-size: 24px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav-bar .menu-icon {
        display: inline-block;
    }

    .nav-bar .nav-items {
        position: absolute;
        top: 55px;
        left: 0;
        background-color: blueviolet;
        padding: 30px 10px;
        transition: 0.3s;
    }

    .nav-bar .nav-items a {
        display: block;
        margin-bottom: 10px;
    }

    .show {
        width: 50%;
        opacity: 1;
        visibility: visible;
    }

    .hide {
        width: 0;
        opacity: 0;
        visibility: hidden;
    }
}