.all-items-container {
    width: 100%;
    min-height: 50vh;
    overflow-x: auto;
    margin-bottom: 50px;
}

.inventory-table {
    width: 900px;
    margin: auto;
    border-collapse: collapse;
    box-sizing: border-box;
}

.inventory-table th {
    padding: 12px;
    text-align: left;
    background-color: blueviolet;
    color: white;
}

.inventory-table td,
.inventory-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.inventory-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.inventory-table tr:hover {
    background-color: #ddd;
}

.inventory-table td img {
    width: 30px;
    margin-right: 10px;
}

.inventory-table td .edit {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    color: blueviolet;
}

.inventory-table td .delete {
    font-size: 18px;
    cursor: pointer;
    color: #c10707;
}

@media only screen and (max-width: 768px) {
    .all-items-container {
        min-height: 65vh;
    }

    .inventory-table {
        width: 700px;
    }
}