.container {
    max-width: 1240px;
    margin: 30px auto;
    padding: 20px;
}

.container h1 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
}

.add-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

.add-items .img img {
    width: 100%;
}

.add-items .input-form {
    box-sizing: border-box;
}

.add-items .input-form label {
    display: block;
    margin-bottom: 5px;
}

.add-items .input-form input:not([type=submit]),
.add-items .input-form textarea {
    width: 80%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e4e4e4;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
}


.add-items .input-form input:focus,
.add-items .input-form textarea:focus {
    outline: none;
}

.add-items .input-form .price-quantity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
}

.add-items .input-form input[type=submit] {
    margin-top: 10px;
}

@media only screen and (max-width:768px) {

    .add-items,
    .add-items .input-form .price-quantity {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .add-items .input-form input:not([type=submit]),
    .add-items .input-form textarea {
        width: 100%;
    }
}